@import "../vars/_vars.scss";

.home {
    @include page();
    .home_banner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        background-color: $green;
        padding: 50px 0;
        @media (max-width: $md-screen) {
            flex-wrap: wrap;
        }
        .home_logo {
            display: block;
            width: 40%;
            @media (max-width: $md-screen) {
                width: 100%;
            }
            img {
                display: block;
                width: 90%;
                max-width: 300px;
                margin: auto;
            }
        }
        .home_bannerRight {
            display: block;
            width: 60%;
            @media (max-width: $md-screen) {
                width: 100%;
                text-align: center;
                margin-top: 30px;
            }
            h1 {
                color: $white;
                font-size: $gg-font-size;
                font-weight: 00;
                margin: 0;
                padding: 0;
                @media (max-width: $md-screen) {
                    font-size: $xxl-font-size;
                }
            }
            h3 {
                color: $white;
                font-size: $lg-font-size;
                font-weight: 500;
            }
            a {
                color: $black;
                font-size: $lg-font-size;
                font-weight: 500;
                background-color: $yellow;
                text-decoration: none;
                border: 1px solid $black;
                border-radius: 4px;
                padding: 4px 20px;
                cursor: pointer;
                transition-duration: 0.3s;
                &:hover {
                    color: $white;
                    background-color: $purple;
                    transition-duration: 0.3s;
                }
            }
        }
    }
    .home_centralSection {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: auto;
        p {
            display: block;
            color: $black;
            font-size: $lg-font-size;
            font-weight: 500;
        }
        ul {
            display: block;
            width: 100%;
            li {
                color: $black;
                font-size: $md-font-size;
                font-weight: 600;
            }
        }
    }
    .home_bottom {
        display: block;
        width: 100%;
        img {
            display: block;
            width: 90%;
            max-width: 500px;
            margin: auto;
        }
        a {
            display: block;
            width: fit-content;
            color: $white;
            font-size: $lg-font-size;
            font-weight: 500;
            background-color: $green;
            text-decoration: none;
            border: 1px solid $black;
            border-radius: 4px;
            padding: 4px 20px;
            cursor: pointer;
            margin: 20px auto;
            transition-duration: 0.3s;
            &:hover {
                color: $black;
                background-color: $yellow;
                transition-duration: 0.3s;
            }
            @media (max-width: $sm-screen) {
                font-size: $md-font-size;
            }
        }
    }
}