<link rel="stylesheet" type="text/css" href="/static//scss/pages/wish-list/product.css">
<div class="product">
    <div class="product_header">
        <div class="product_title" onclick="openCloseProduct(`{{ 'product_' ~ product.id }}`)">
            <h1>{{ product.name }}</h1>
        </div>
        <div class="product_buttons">
            <button onclick="moveProductToReviews('{{ product.id }}')" class="product_moveButton">Move</button>
            <button onclick="updateProductInWishList('{{ product.id }}')" class="product_updateButton">Update</button>
            <button onclick="deleteProductFromWishList('{{ product.id }}')" class="product_deleteButton">Delete</button>
        </div>
    </div>
    <div class="product_bodyClosed" id="{{ 'product_' ~ product.id }}">
        <div class="product_input">
            <label>Name</label>
            <input type="text" id="productName{{ product.id }}" value="{{ product.name }}" autocomplete="off" />
        </div>
        <div class="product_input">
            <label>Category</label>
            <select id="productCategory{{ product.id }}">
                {% for x in categories %}
                    <option
                        value="{{ x.name }}"
                        {% if x.name == product.category %}
                        selected
                        {% endif %}
                    >
                        {{ x.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="product_input">
            <label>Country</label>
            <input type="text" id="productCountry{{ product.id }}" value="{{ product.country }}" autocomplete="off" />
        </div>
        <div class="product_input">
            <label>Materials</label>
            <input type="text" id="productMaterials{{ product.id }}" value="{{ product.materials }}" autocomplete="off" />
        </div>
        <div class="product_imageInput">
            <div class="product_input">
                <label>Image Url</label>
                <input type="text" id="productImageUrl{{ product.id }}" value="{{ product.image_url }}" autocomplete="off" />
            </div>
            <div class="product_image">
                <img src="{{ product.image_url }}" alt="product" />
            </div>
        </div>
        <div class="product_input">
            <label>Taste</label>
            <input type="text" id="productTaste{{ product.id }}" value="{{ product.taste }}" autocomplete="off" />
        </div>
        <div class="product_input">
            <label>Aroma</label>
            <input type="text" id="productAroma{{ product.id }}" value="{{ product.aroma }}" autocomplete="off" />
        </div>
        <div class="product_input">
            <label>Weight</label>
            <input type="text" id="productWeight{{ product.id }}" value="{{ product.weight }}" autocomplete="off" />
        </div>
        <div class="product_input">
            <label>Quantity</label>
            <input type="number" id="productQuantity{{ product.id }}" min="0" value="{{ product.quantity }}" autocomplete="off" />
        </div>
        <div class="product_input">
            <label>Price</label>
            <input type="text" id="productPrice{{ product.id }}" value="{{ product.price }}" autocomplete="off" />
        </div>
    </div>
</div>
<script src="/static//typescript/wish-list/product.js"></script>