@import "../../vars/_vars.scss";

.createUser {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    @media (max-width: $md-screen) {
        display: block;
    }
    .buttonUser_area {
        display: block;
        width: 210px;
        margin: auto;
        @media (max-width: $md-screen) {
            margin: 20px auto 0;
        }
        button {
            display: block;
            width: fit-content;
            background-color: $blue;
            color: $white;
            border: 1px solid $black;
            border-radius: 4px;
            padding: 10px 40px;
            cursor: pointer;
            margin: auto;
            transition-duration: 0.3s;
            &:hover {
                background-color: $purple;
                transition-duration: 0.3s;
            }
        }
    }
    .createUser_form {
        display: block;
        width: 80%;
        max-width: 350px;
        background-color: $black;
        border-radius: 4px;
        padding: 20px;
        margin: auto;
        input {
            display: block;
            width: 100%;
            margin: 0 auto 10px;
        }
        .button_bar {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            flex-wrap: nowrap;
            .cancelButton {
                background-color: $purple;
                color: $white;
                border: 1px solid $black;
                border-radius: 4px;
                padding: 10px 40px;
                transition-duration: 0.3s;
                &:hover {
                    background-color: $yellow;
                    color: $black;
                    transition-duration: 0.3s;
                }
            }
            .createButton {
                background-color: $green;
                color: $white;
                border: 1px solid $black;
                border-radius: 4px;
                padding: 10px 40px;
                transition-duration: 0.3s;
                &:hover {
                    background-color: $yellow;
                    color: $black;
                    transition-duration: 0.3s;
                }
            }
        }
    }
    #topButton {
        display: block;
        @media (max-width: $md-screen) {
            display: none;
        }
    }
    #bottomButton {
        display: none;
        @media (max-width: $md-screen) {
            display: block;
        }
    }
}