<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from "components/footer.html" import footer %}
    {% from "components/header.html" import header %}
    {% from "components/mobileHeader.html" import mobileHeader %}
    {% from "components/mobileMenu.html" import mobileMenu %}
    <link rel="stylesheet" type="text/css" href="/static//normalize.css">
    <link rel="stylesheet" type="text/css" href="/static//style.css">
    <link rel="stylesheet" type="text/css" href="/static//scss/pages/dashboard/dashboard.css">
    <link rel="shortcut icon" href="/static//media/icons/icon.png" />
    <title>Wish List | Dashboard</title>
</head>
<body>
    {{ mobileHeader() }}
    {{ mobileMenu() }}
    <div class="dashboard">
        {{ header() }}
        <div class="dashboard_container">
            <div class="dashboard_title">
                <h1>Dashboard</h1>
            </div>
            <div class="dashboard_section">
                <h1>Wish-List</h1>
                <p>Here you can insert the product that you want to buy or try</p>
                <a id="dashboard_linkWishList" href="/wish-list">Visit</a>
            </div>
            <div class="dashboard_section">
                <h1>Reviews</h1>
                <p>Here you can write reviews and votes about products that you have already tried</p>
                <a id="dashboard_linkReviews" href="/reviews">Visit</a>
            </div>
        </div>
    </div>
    {{ footer() }}
    <script src="/static//index.js"></script>
    <script src="/static//typescript/dashboard/dashboard.js"></script>
    <script src="/static//typescript/components/mobileMenu.js"></script>
</body>
</html>