<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from "components/footer.html" import footer %}
    <link rel="stylesheet" type="text/css" href="/static//normalize.css">
    <link rel="stylesheet" type="text/css" href="/static//style.css">
    <link rel="stylesheet" type="text/css" href="/static//scss/pages/dashboard/dashboard.css">
    <link rel="shortcut icon" href="/static//media/icons/icon.png" />
    <title>Wish List | Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <div class="dashboard_bar">
        </div>
        <script src="/static//index.js"></script>
    </div>
    {{ footer() }}
</body>
</html>