<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from "components/footer.html" import footer %}
    {% from "components/header.html" import header %}
    {% from "components/mobileHeader.html" import mobileHeader %}
    {% from "components/mobileMenu.html" import mobileMenu %}
    <link rel="stylesheet" type="text/css" href="/static//normalize.css">
    <link rel="stylesheet" type="text/css" href="/static//style.css">
    <link rel="stylesheet" type="text/css" href="/static//scss/pages/account/account.css">
    <link rel="shortcut icon" href="/static//media/icons/icon.png" />
    <title>Wish List | Your Account</title>
</head>
<body>
    {{ mobileHeader() }}
    {{ mobileMenu() }}
    <div class="account">
        {{ header() }}
        <div class="account_container">
            <div class="account_title">
                <h1>Account</h1>
            </div>
            <div class="account_data">
                <div class="account_line">
                    <h1>Name:</h1>
                    <h1>{{ user[0].name }}</h1>
                </div>
                <div class="account_line">
                    <h1>Surname:</h1>
                    <h1>{{ user[0].surname }}</h1>
                </div>
            </div>
            <div class="account_buttons">
                <button class="account_logoutButton">Logout</button>
                <button class="account_deleteButton">Delete</button>
            </div>
        </div>
    </div>
    {{ footer() }}
    <script src="/static//index.js"></script>
    <script src="/static//typescript/components/mobileMenu.js"></script>
</body>
</html>