<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from "components/footer.html" import footer %}
    <link rel="stylesheet" type="text/css" href="/static//normalize.css">
    <link rel="stylesheet" type="text/css" href="/static//style.css">
    <link rel="stylesheet" type="text/css" href="/static//scss/pages/home/home.css">
    <link rel="shortcut icon" href="/static//media/icons/icon.png">
    <title>Wish List | HomePage</title>
</head>
<body>
    <div class="home">
        <div class="home_banner">
            <div class="home_logo">
                <img src="/static//media/img/logo.png" alt="wish_list" />
            </div>
            <div class="home_bannerRight">
                <h1>Wish List</h1>
                <h3>For any product</h3>
                <a href="/login">Create your Wish List</a>
            </div>
        </div>
        <div class="home_centralSection">
            <p>The best of using us:</p>
            <ul>
                <li>Ordered</li>
                <li>Private</li>
                <li>Free</li>
                <li>Flexible</li>
            </ul>
        </div>
        <div class="home_bottom">
            <img src="/static//media/img/home_image.jpeg" alt="home_bottom" />
            <a href="/login">Login or Create a new account</a>
        </div>
        {{ footer() }}
    </div>
</body>
</html>