<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../scripts/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../../scripts/style.css" />
    <link rel="stylesheet" type="text/css" href="../../../build/scss/home/index.css" />
    <link rel="shortcut icon" href="../../../media/icons/icon.png" />
    <title>Wish List | HomePage</title>
</head>
<body>
    <p>HomePage</p>
</body>
</html>