@import "../vars/_vars.scss";

.mobileHeader {
    display: none;
    width: 100%;
    background-color: $blue;
    display: fixed;
    top: 0;
    @media (max-width: $md-screen) {
        display: block;
    }
    .mobileHeader_button {
        display: block;
        padding: 20px 0 20px 20px;
        div {
            display: block;
            width: 40px;
            height: 5px;
            margin-bottom: 5px;
            background-color: $white;
        }
        div:last-child {
            margin-bottom: 0;
        }
    }
}