<div class="createUser">
    <div class="buttonUser_area" id="topButton">
        <button onclick="moveLeft()">Go Login</button>
    </div>
    <form onsubmit="createUser()">
        <input type="text" value="" placeholder="Name" />
        <input type="text" value="" placeholder="Surname" />
        <input type="text" value="" placeholder="Email" />
        <input type="password" value="" placeholder="Password" />
        <button type="submit">Create User</button>
    </form>
    <div class="buttonUser_area" id="bottomButton">
        <button onclick="moveLeft()">Go Login</button>
    </div>
</div>