<link rel="stylesheet" type="text/css" href="/static//scss/pages/user/createUser.css">
<div class="createUser">
    <div class="buttonUser_area" id="topButton">
        <button onclick="moveLeft()">Go Login</button>
    </div>
    <div class="createUser_form">
        <input type="text" id="nameInput" value="" placeholder="Name" autocomplete="off" />
        <input type="text" id="surnameInput" value="" placeholder="Surname" autocomplete="off" />
        <input type="text" id="emailInput" value="" placeholder="Email" autocomplete="off" />
        <input type="password" id="passwordInput" value="" placeholder="Password" />
        <div class="button_bar">
            <button class="cancelButton" onclick="cancel()">Cancel</button>
            <button class="createButton" onclick="createUser()">Create</button>
        </div>
    </div>
    <div class="buttonUser_area" id="bottomButton">
        <button onclick="moveLeft()">Go Login</button>
    </div>
</div>