<div class="createUser">
    <div class="buttonUser_area" id="topButton">
        <button onclick="moveLeft()">Go Login</button>
    </div>
    <div class="createUser_form">
        <input type="text" id="nameInput" value="" placeholder="Name" />
        <input type="text" id="surnameInput" value="" placeholder="Surname" />
        <input type="text" id="emailInput" value="" placeholder="Email" />
        <input type="password" id="passwordInput" value="" placeholder="Password" />
        <button onclick="createUser()">Create User</button>
    </div>
    <div class="buttonUser_area" id="bottomButton">
        <button onclick="moveLeft()">Go Login</button>
    </div>
</div>