<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from "components/footer.html" import footer %}
    <link rel="stylesheet" type="text/css" href="/static//normalize.css">
    <link rel="stylesheet" type="text/css" href="/static//style.css">
    <link rel="stylesheet" type="text/css" href="/static//scss/pages/user/login.css">
    <link rel="stylesheet" type="text/css" href="/static//scss/pages/user/user.css">
    <link rel="shortcut icon" href="/static//media/icons/icon.png" />
    <title>Wish List | Login</title>
</head>
<body>
    <div class="user">
        <div class="user_title">
            <h1>Access Page</h1>
        </div>
        <div class="user_bar">
            {%include "pages/user/login.html"  %}
        </div>
        <script src="/static//typescript/user/user.js"></script>
    </div>
    {{ footer() }}
</body>
</html>