@import "../../vars/_vars.scss";

.createCategory {
    display: block;
    width: 80%;
    max-width: 350px;
    background-color: $black;
    border-radius: 4px;
    padding: 20px;
    margin: 0 auto;
    h1{
        color: $white;
        font-size: $lg-font-size;
        text-align: center;
        margin-top: 0;
    }
    .createCategory_body {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        input {
            display: block;
            width: 230px;
            padding: 7px 0;
            @media (max-width: $sm-screen) {
                width: 180px;
            }
        }
        .createButton {
            background-color: $green;
            color: $white;
            border: 1px solid $black;
            border-radius: 0 4px 4px 0;
            padding: 10px 40px;
            transition-duration: 0.3s;
            &:hover {
                background-color: $yellow;
                color: $black;
                transition-duration: 0.3s;
            }
        }
    }
}